<div class="register-container">
 
  <div *ngIf="!accountCreated">
    <img src="/assets/target.png" alt="Logo" class="logo">
  
    <h1>Créer un compte</h1>
  
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" formControlName="fullName" placeholder="Nom complet" required>
        <small *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched">
          Le nom doit contenir au moins 3 caractères
        </small>
      </div>
      
      <div class="form-group">
        <input type="email" formControlName="email" placeholder="Email" required>
        <small *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          Veuillez entrer un email valide
        </small>
      </div>
      
      <div class="form-group password-field">
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Mot de passe" required>
        <span class="toggle-password" (click)="togglePasswordVisibility()">
          {{ showPassword ? 'Masquer' : 'Afficher' }}
        </span>
        <small *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          Le mot de passe doit contenir au moins 6 caractères
        </small>
      </div>
      
      <div class="form-group">
        <input type="password" formControlName="confirmPassword" placeholder="Confirmer le mot de passe" required>
        <small *ngIf="registerForm.hasError('mismatch')">
          Le mot de passe ne correspond pas
        </small>
      </div>
      
      <button type="submit" class="register-btn" [disabled]="!registerForm.valid">S'inscrire</button>
    </form>
  
    <div class="login-link">
      <p>Déjà un compte ? <a (click)="goToLogin()">Se connecter</a></p>
    </div>
  </div>

  
  <div *ngIf="accountCreated" class="success-message">
    <img src="/assets/target.png" alt="Logo" class="logo">
    <h1>Votre compte a été créé avec succès.</h1>
    <button (click)="goToLogin()" class="continue-btn">Continuer</button>
  </div>
</div>